* {
    margin: 0;
    padding: 0;
}

.hero {
    width: 100%;
    height: 100%;
    background-image: url("../images/wallpaper.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box {
    text-align: center;
    width: 500px;
	height: 600px;
    position: relative;
	margin: 6% auto;
	background-color: rgba(44, 62, 80,0.7);
	margin-top: 160px;
    overflow: hidden;
}

.form-box img {
    width: 150px;
	height: 150px;
	margin-top: 20px;
    /* margin-bottom: 20px; */
}

.button-box {
    width: 220px;
    margin: 20px auto;
    position: relative;
    box-shadow: 0 0 20px 9px lightskyblue;
    border-radius: 25px;
}

.toggle-btn {
    padding: 20px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: white;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #368ee0;
    border-radius: 25px;
    transition: 0.5s;
}

.input-group {
    top: 290px;
    position: absolute;
    width: 500px;
    transition: 0.5s;
}

.input-field {
    width: 350px;
    height: 55px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 25px;
    outline: none;
    text-align: center;

    background-color: white;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.input-field:focus {
    border-color: lightskyblue;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 30px lightskyblue;
    outline: 0 none;
}

.login-btn, .register-btn {
    font-size: 22px;
    padding: 15px 50px;
	background-color: #368ee0;
	color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.login-btn:hover, .register-btn:hover {
    transition-duration: 0.5s;
    background-color: #2b72b3;
}

.login-btn:active, .register-btn:active {
    opacity: 0.50;
}

#login {
    left: 0px;
}

#register {
    left: 500px;
}